.header {
  background-color: #282c34;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.input {
  padding: 0.5rem 0.75rem;
  border: solid 3px lightgray;
  border-radius: 10px;
  width: 100%;
  max-width: 540px;
  color: #454545;
}

input:focus {
  outline: none;
  border: solid 3px cornflowerblue;
}